<div class="d-flex justify-content-center" data-controller='chats'>
  <div class='messages-container'>
    <div>
      <% @messages.each do |message| %>
        <div class="message <%= unread_message_class(message) %>">
          <div class="message-header <%= message.user == current_user ? 'd-flex justify-content-end' : 'd-flex justify-content-start' %>">
            <p><%# message.user.full_name %></p>
          </div>
          <div class="message-body <%= message.user == current_user ? 'd-flex justify-content-end' : 'd-flex justify-content-start' %>">
            <div class='card p-1 message-card <%= message.user == current_user ? 'sender-message' : 'receiver-message' %>'>
              <%= message.body %>
            </div>
          </div>
        </div>
      <% end %>
      <div id="message-display-of-<%= current_user.id %>">
      </div>
    </div>

    <%= bootstrap_form_with url: send_message_room_path(@room), method: :post, class: 'room', id: "room-#{@room.first_subscriber_id}-#{@room.second_subscriber_id}" do |f| %>
      <%= f.text_area :body, id: 'message-input', hide_label: true %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit 'Send message' %>
    <% end %>
  </div>
</div>
