<!DOCTYPE html>
<html>
  <head>
    <title>Servicee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <header>
    <% if current_user %>
      <%= render partial: 'shared/users_menu' %>
    <% else %>
      <%= render partial: 'shared/home_menu' %>
    <% end %>
  </header>


  <body class="container-fluid custom-body mb-5">
    <div class="row">
      <% flash.each do |type, msg| %>
        <div class="my-alert">
          <div class="mt-5 alert alert-dismissible fade show <%= bootstrap_class_for_flash(type) %> text-center">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      <% end %>
      <% if current_page?(controller: '/services', action: 'search') %>
        <%= render partial: 'shared/search_sidebar' %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-shrink-0 custom-main">
          <%= yield %>
        </main>
      <% else %>
        <main class="flex-shrink-0 custom-main">
          <%= yield %>
        </main>
      <% end %>
    </div>
    <% if false %>
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
      </footer>
    <% end %>
  </body>
</html>
